<%-layout("/layouts/boilerplate.ejs");%>
    <div class="d-flex justify-content-center">
        <h2 class="text-center me-3 ">Tell us about your place</h2>
        <img src="/images/addListing.svg" style="min-width: 2rem; margin-bottom: 3px;">
    </div>
    <div class="m-2">
    <form method="POST" action="/listings" class="needs-validation" novalidate>
        <div class="row"  style="background-color:#b5cfe454;border-radius: 2rem; padding: 1rem; border: 3px solid #b5cfe4;">
            <div class="form-floating col-8  offset-md-2 mb-4">
                <input class="form-control" id="titleInput" type="text" name="listing[title]" placeholder="ENTER TITLE" required>
                <label class="ms-2" for="titleInput">TITLE</label>
                <div class="invalid-feedback">
                    Please provide a Title.
                </div>
            </div>
            <div class="form-floating col-8  offset-md-2 mb-4">
                <textarea class="form-control" id="floatingTextarea" name="listing[description]"
                placeholder="ENTER DESCRIPTION" required></textarea>
                <label class="ms-2" for="floatingTextarea">DESCRIPTION</label>
                <div class="invalid-feedback">
                    Please provide a Description for your place.
                </div>
            </div>
            <div class="form-floating col-md-4 col-sm-8 col-8 offset-md-2 mb-4">
                <input class="form-control" id="locationInput" type="text"  name="listing[location]" placeholder="ENTER LOCATION" required>
                <label class="ms-2" for="locationInput">LOCATION</label>
                <div class="invalid-feedback">
                    Location is Required.
                </div>
            </div>
            <div class="form-floating col-md-4 col-sm-8 col-8 mb-4">
                <input class="form-control" id="countryInput" type="text"  name="listing[country]" placeholder="ENTER COUNTRY" required>
                <label class="ms-2" for="countryInput">COUNTRY</label>
                <div class="invalid-feedback">
                    Please provide country.
                </div>
            </div>
            <div class="form-floating col-8  offset-md-2 mb-4">
                <input class="form-control" id="priceInput" type="number" name="listing[price]" placeholder="ENTER PRICE" required>
                <label class="ms-2" for="priceInput">PRICE</label>
                <div class="invalid-feedback">
                    Price is Required.
                </div>
            </div>            
            <div class="form-floating col-8  offset-md-2 mb-4">
                <input class="form-control" id="imageInput" type="text" name="listing[image]" placeholder="ENTER IMG URL/LINK">     
                <label  class="ms-2" for="imageInput">IMAGE</label>
            </div>
         </div>
            <button class=" w-40 d-block text-primary-emphasis mx-auto p-1 btn btn-outline-light mb-4 mt-4 btn-lg p-2" style="border-color: midnightblue;">ADD LISTING</button>       
    </form>
    </div>
   