<div class="f-info border-top mt-auto" style="position: relative; bottom: 1px;">
    <div class="mb-1">
        &copy; 2026 &nbsp; Wanderlust.Pvt.Ltd 
    </div>
    <div class="f-links mb-1">
        <a href="/privacy" class="link text-dark me-1">Privacy </a>
        &CenterDot;
        <a href="/terms" class="link text-dark me-1">Terms </a>
        &CenterDot;
        <a href="/compDetails" class="link text-dark ms-1">Company details</a>
    </div>
    <div class="f-socials mt-1" >
        <i class="fa-brands fa-x-twitter fa-lg me-1"></i>
        <i class="fa-brands fa-facebook fa-lg me-1"></i>
        <i class="fa-brands fa-instagram fa-lg ms-1"></i>
    </div>
</div>
