<div class="f-info border-top">
    <div>
        &copy; 2025 WanderLust.Pvt.Ltd 
    </div>
    <div class="f-links">
        <a href="/privacy">Privacy </a>
        &CenterDot;
        <a href="/terms">Terms </a>
        &CenterDot;
        <a href="/compDetails">Company details</a>
    </div>
    <div class="f-socials">
        <i class="fa-brands fa-x-twitter fa-lg"></i>
        <i class="fa-brands fa-facebook fa-lg"></i>
        <i class="fa-brands fa-instagram fa-lg"></i>
    </div>
</div>
