
<div class="footer sticky-bottom width">
    <form action="/listings" method="get">
        <button class="p-2 rounded-pill text-bg-light position-absolute start-0">EXIT</button>
    </form>
    <form action="/listings/new" method="get">
        <button class="btn btn-lg position-absolute end-0">Get Started</button>
    </form>
</div>