<nav class="navbar navbar-expand-md sticky-top border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" href="/listings">
            <i class=" explore fa-regular fa-compass logo"></i>
        </a>
        <div class="d-flex">
            <ul class="list-group list-group-horizontal navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item list-group-item">
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </li>
                <li class="nav-item list-group-item">
                    <a class="nav-link add-btn" href="/listings/new/guide"><b>Switch to Hosting</b></a>     
                </li>
                <%if(currUser){%>
                    <li class="nav-item list-group-item">
                        <a class="nav-link d-flex" href="/myaccount/about">
                            <div class="name-icon" style="height: 2rem; width: 2rem;">
                                <i class="fa-solid fa-sm fa-<%=currUser.username.charAt(0).toLowerCase()%>" style="color: rgb(255, 255, 255); margin: auto;"></i>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item list-group-item" id="logout-form">
                        <form method="POST" action="/logout">
                            <input type="hidden" class="redirectUrl" name="redirectUrl" value="">
                            <button class="nav-link" id = "logout-btn"><b>LOG OUT</b></button>
                        </form>
                    </li>
                    <%}else{%>
                        <li class="nav-item list-group-item">
                            <a class ="nav-link signup-link" onclick="changeRoute(event,'/signupModal')" style="cursor: default;"><b>SIGN UP</b></a>
                        </li>
                        <li class="nav-item list-group-item">
                            <a class ="nav-link login-link" onclick="changeRoute(event,'/loginModal')" style="cursor: default;"><b>LOG IN</b></a>
                        </li>
                    <%}%>
            </ul>
    </div>
    </div>
</nav>

<script>
    document.addEventListener("DOMContentLoaded",()=>{
        let input = document.querySelector(".redirectUrl");
        if(input && window.location.pathname != "/logout"){
            input.value = window.location.pathname;
        }
    })
</script>
