<%layout ("/layouts/boilerplate.ejs") %>
<div class="card text-center error-card">
  <div class="card-header error-title">
    Error
  </div>
  <div class="card-body ">
    <img src="../images/error-img.jpg" alt="Something went wrong" class="error-img">
    <h5 class="card-title">OOPS! Something went wrong</h5>
    <p class="card-text"><%=message%></p>
    <a href="/listings" class="btn btn-primary error-btn">Home</a>
    <div class="mt-3 mb-3">
        <h6>Some helpful links</h6>
        <a href="#" class="d-block helpful-links">My account</a>
        <a href="/new/guide" class="d-block helpful-links">Become a host</a>
    </div>
  </div>
  <div class="card-footer text-body-secondary error-card-footer">
    Status Code:<%=statusCode%>
  </div>
</div>